In [6]:
import pandas as pd
import io

# Data for Project DataFrame
project_data = """ID,Project,Cost,Status
A001,Project 1,1002000,Finished
A002,Project 2,2000000,Ongoing
A003,Project 3,4500000,Finished
A004,Project 4,5500000,Ongoing
A005,Project 5,,Finished
A002,Project 6,680000,Failed
A005,Project 7,400000,Finished
A003,Project 8,350000,Failed
A001,Project 9,,Ongoing
A003,Project 10,300000,Finished
A001,Project 11,2000000,Failed
A004,Project 12,1000000,Ongoing
A004,Project 13,3000000,Finished
A005,Project 14,200000,Finished
"""

# Data for Employee DataFrame
employee_data = """ID,Name,Gender,City,Age
A001,John Alter,M,Paris,25
A002,Alice Luxumberg,F,London,27
A003,Tom Sabestine,M,Berlin,29
A004,Nina Adgra,F,Newyork,31
A005,Amy Johny,F,Madrid,30
"""

# Data for Seniority Level DataFrame
seniority_data = """ID,Designation Level
A001,2
A002,2
A003,3
A004,2
A005,3
"""

# Create DataFrames from the data
project_df = pd.read_csv(io.StringIO(project_data))
employee_df = pd.read_csv(io.StringIO(employee_data))
seniority_df = pd.read_csv(io.StringIO(seniority_data))

# Save DataFrames to CSV files
project_df.to_csv('project_data.csv', index=False)
employee_df.to_csv('employee_data.csv', index=False)
seniority_df.to_csv('seniority_data.csv', index=False)

print("CSV files created successfully.")

CSV files created successfully.

In [10]:
import pandas as pd

# Load the project DataFrame from the CSV file (assuming you saved it as 'project_data.csv')
project_df = pd.read_csv('project_data.csv')

# Calculate the running average for the 'Cost' column

# Initialize variables
running_sum = 0
count = 0

# Iterate through the 'Cost' column
for index, cost in enumerate(project_df['Cost']):
    if pd.isna(cost):  # Check if the value is NaN (missing)
        if count == 0:  # If no previous values, replace with 0 or handle as needed
            project_df.loc[index, 'Cost'] = 0  # Or choose another appropriate handling
        else:
            project_df.loc[index, 'Cost'] = running_sum / count  # Replace with running average
    else:
        running_sum += cost  # Add the valid cost to the running sum
        count += 1          # Increment the count of valid values

# Print the DataFrame with replaced missing values
print(project_df)

# Save the updated DataFrame to a new CSV file (optional)
project_df.to_csv('project_data_filled.csv', index=False)

      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

In [13]:
import pandas as pd

# Load the Employee DataFrame from the CSV file
employee_df = pd.read_csv('employee_data.csv')

# Split the "Name" column into "First Name" and "Last Name"
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

# Remove the original "Name" column
employee_df.drop('Name', axis=1, inplace=True)

# Print the modified DataFrame
print(employee_df)

# Save the modified DataFrame to a new CSV file (optional)
employee_df.to_csv('employee_data_split.csv', index=False)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [17]:
import pandas as pd

# Load the DataFrames from the CSV files
project_df = pd.read_csv('project_data.csv')
employee_df = pd.read_csv('employee_data.csv')
seniority_df = pd.read_csv('seniority_data.csv')

# Merge the project and employee DataFrames on the "ID" column
# We use 'left' join to include all projects, even if there's no matching employee
merged_df = pd.merge(project_df, employee_df, on='ID', how='left')

# Merge the merged DataFrame with the seniority DataFrame on the "ID" column
# Again, using 'left' join to keep all projects
final_df = pd.merge(merged_df, seniority_df, on='ID', how='left')

# Print the final merged DataFrame
print(final_df)

# Save the final DataFrame to a new CSV file (optional)
final_df.to_csv('final_data.csv', index=False)

      ID     Project       Cost    Status             Name Gender     City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M    Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F   London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M   Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  Newyork
4   A005   Project 5        NaN  Finished        Amy Johny      F   Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F   London
6   A005   Project 7   400000.0  Finished        Amy Johny      F   Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M   Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M    Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M   Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M    Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  Newyork
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  Newyork
13  A005  Project 14   200000.0  Finished        Amy Johny      F   Madrid

    Age  Designation Level
0    25                  2
1    27                  2
2    29                  3
3    31                  2
4    30                  3
5    27                  2
6    30                  3
7    29                  3
8    25                  2
9    29                  3
10   25                  2
11   31                  2
12   31                  2
13   30                  3

In [20]:
import pandas as pd

# Load the final DataFrame from the CSV file
final_df = pd.read_csv('final_data.csv')

# Calculate the bonus for employees who finished projects
# Create a new column 'Bonus' initialized with 0
final_df['Bonus'] = 0

# Identify the indices where 'Status' is 'Finished'
finished_project_indices = final_df[final_df['Status'] == 'Finished'].index

# Calculate the bonus (5% of 'Cost') for those indices
final_df.loc[finished_project_indices, 'Bonus'] = final_df.loc[finished_project_indices, 'Cost'] * 0.05

# Print the DataFrame with the new 'Bonus' column
print(final_df)

# Save the updated DataFrame to a new CSV file (optional)
final_df.to_csv('final_data_with_bonus.csv', index=False)

      ID     Project       Cost    Status             Name Gender     City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M    Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F   London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M   Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  Newyork
4   A005   Project 5        NaN  Finished        Amy Johny      F   Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F   London
6   A005   Project 7   400000.0  Finished        Amy Johny      F   Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M   Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M    Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M   Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M    Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  Newyork
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  Newyork
13  A005  Project 14   200000.0  Finished        Amy Johny      F   Madrid

    Age  Designation Level     Bonus
0    25                  2   50100.0
1    27                  2       0.0
2    29                  3  225000.0
3    31                  2       0.0
4    30                  3       NaN
5    27                  2       0.0
6    30                  3   20000.0
7    29                  3       0.0
8    25                  2       0.0
9    29                  3   15000.0
10   25                  2       0.0
11   31                  2       0.0
12   31                  2  150000.0
13   30                  3   10000.0

In [23]:
import pandas as pd

# Load the final DataFrame from the CSV file
final_df = pd.read_csv('final_data.csv')

# Demote designation level for employees with failed projects
# Create a boolean mask for rows where the project status is 'Failed'
failed_projects_mask = final_df['Status'] == 'Failed'

# Use the mask to select rows and demote the 'Designation Level' by 1
# Ensure that the level does not go below 1
final_df.loc[failed_projects_mask, 'Designation Level'] = final_df.loc[failed_projects_mask, 'Designation Level'].apply(lambda x: max(1, x - 1))

# Delete employees with designation level above 4
# Create a boolean mask for rows where 'Designation Level' is greater than 4
above_level_4_mask = final_df['Designation Level'] > 4

# Use the mask to get the indices of rows to be deleted
rows_to_delete = final_df[above_level_4_mask].index

# Delete the rows using the indices
final_df.drop(rows_to_delete, inplace=True)

# Print the modified DataFrame
print(final_df)

# Save the modified DataFrame to a new CSV file (optional)
final_df.to_csv('final_data_modified.csv', index=False)

      ID     Project       Cost    Status             Name Gender     City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M    Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F   London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M   Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  Newyork
4   A005   Project 5        NaN  Finished        Amy Johny      F   Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F   London
6   A005   Project 7   400000.0  Finished        Amy Johny      F   Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M   Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M    Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M   Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M    Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  Newyork
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  Newyork
13  A005  Project 14   200000.0  Finished        Amy Johny      F   Madrid

    Age  Designation Level
0    25                  2
1    27                  2
2    29                  3
3    31                  2
4    30                  3
5    27                  1
6    30                  3
7    29                  2
8    25                  2
9    29                  3
10   25                  1
11   31                  2
12   31                  2
13   30                  3

In [33]:
import pandas as pd

# Load the final DataFrame from the CSV file
final_df = pd.read_csv('final_data.csv')

# Print column names to verify what's available
print("Available columns:", final_df.columns.tolist())

# Function to add "Mr." or "Mrs." based on gender
def add_title(row):
    if row['Gender'] == 'M':
        return 'Mr. ' + row['Name']  # Adjust column name here
    elif row['Gender'] == 'F':
        return 'Mrs. ' + row['Name']  # Adjust column name here
    else:
        return row['Name']  # Adjust column name here

# First, verify if the required columns exist
required_columns = ['Gender', 'Name']  # Adjust column names as needed
missing_columns = [col for col in required_columns if col not in final_df.columns]

if missing_columns:
    print(f"Error: Missing columns: {missing_columns}")
else:
    # Apply the function to create a new "Name" column with titles
    final_df['Name'] = final_df.apply(add_title, axis=1)
    
    # Drop the original "Gender" column
    final_df.drop('Gender', axis=1, inplace=True)
    
    # Print the modified DataFrame
    print(final_df)
    
    # Save the modified DataFrame to a new CSV file
    final_df.to_csv('final_data_titled.csv', index=False)

Available columns: ['ID', 'Project', 'Cost', 'Status', 'Name', 'Gender', 'City', 'Age', 'Designation Level']
      ID     Project       Cost    Status                  Name     City  Age  \
0   A001   Project 1  1002000.0  Finished        Mr. John Alter    Paris   25
1   A002   Project 2  2000000.0   Ongoing  Mrs. Alice Luxumberg   London   27
2   A003   Project 3  4500000.0  Finished     Mr. Tom Sabestine   Berlin   29
3   A004   Project 4  5500000.0   Ongoing       Mrs. Nina Adgra  Newyork   31
4   A005   Project 5        NaN  Finished        Mrs. Amy Johny   Madrid   30
5   A002   Project 6   680000.0    Failed  Mrs. Alice Luxumberg   London   27
6   A005   Project 7   400000.0  Finished        Mrs. Amy Johny   Madrid   30
7   A003   Project 8   350000.0    Failed     Mr. Tom Sabestine   Berlin   29
8   A001   Project 9        NaN   Ongoing        Mr. John Alter    Paris   25
9   A003  Project 10   300000.0  Finished     Mr. Tom Sabestine   Berlin   29
10  A001  Project 11  2000000.0    Failed        Mr. John Alter    Paris   25
11  A004  Project 12  1000000.0   Ongoing       Mrs. Nina Adgra  Newyork   31
12  A004  Project 13  3000000.0  Finished       Mrs. Nina Adgra  Newyork   31
13  A005  Project 14   200000.0  Finished        Mrs. Amy Johny   Madrid   30

    Designation Level
0                   2
1                   2
2                   3
3                   2
4                   3
5                   2
6                   3
7                   3
8                   2
9                   3
10                  2
11                  2
12                  2
13                  3

In [36]:
import pandas as pd

# Load the final DataFrame from the CSV file
final_df = pd.read_csv('final_data.csv')

# Promote designation level using IF condition
for index, age in enumerate(final_df['Age']):
    if age > 29:
        # Promote the designation level by 1
        final_df.loc[index, 'Designation Level'] += 1

# Print the updated DataFrame
print(final_df)

# Save the updated DataFrame to a new CSV file (optional)
final_df.to_csv('final_data_promoted.csv', index=False)

      ID     Project       Cost    Status             Name Gender     City  \
0   A001   Project 1  1002000.0  Finished       John Alter      M    Paris
1   A002   Project 2  2000000.0   Ongoing  Alice Luxumberg      F   London
2   A003   Project 3  4500000.0  Finished    Tom Sabestine      M   Berlin
3   A004   Project 4  5500000.0   Ongoing       Nina Adgra      F  Newyork
4   A005   Project 5        NaN  Finished        Amy Johny      F   Madrid
5   A002   Project 6   680000.0    Failed  Alice Luxumberg      F   London
6   A005   Project 7   400000.0  Finished        Amy Johny      F   Madrid
7   A003   Project 8   350000.0    Failed    Tom Sabestine      M   Berlin
8   A001   Project 9        NaN   Ongoing       John Alter      M    Paris
9   A003  Project 10   300000.0  Finished    Tom Sabestine      M   Berlin
10  A001  Project 11  2000000.0    Failed       John Alter      M    Paris
11  A004  Project 12  1000000.0   Ongoing       Nina Adgra      F  Newyork
12  A004  Project 13  3000000.0  Finished       Nina Adgra      F  Newyork
13  A005  Project 14   200000.0  Finished        Amy Johny      F   Madrid

    Age  Designation Level
0    25                  2
1    27                  2
2    29                  3
3    31                  3
4    30                  4
5    27                  2
6    30                  4
7    29                  3
8    25                  2
9    29                  3
10   25                  2
11   31                  3
12   31                  3
13   30                  4

In [39]:
import pandas as pd

# Load the merged DataFrame from the CSV file (assuming you saved it as 'final_data.csv')
final_df = pd.read_csv('final_data.csv')

# Group by 'ID' and 'Name' and calculate the sum of 'Cost'
total_cost_df = final_df.groupby(['ID', 'Name'])['Cost'].sum().reset_index()

# Rename the 'Cost' column to 'Total Cost'
total_cost_df.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Print the resulting DataFrame
print(total_cost_df)

# Save the resulting DataFrame to a new CSV file (optional)
total_cost_df.to_csv('TotalProjCost.csv', index=False)

     ID             Name  Total Cost
0  A001       John Alter   3002000.0
1  A002  Alice Luxumberg   2680000.0
2  A003    Tom Sabestine   5150000.0
3  A004       Nina Adgra   9500000.0
4  A005        Amy Johny    600000.0

In [42]:
import pandas as pd

# Load the Employee DataFrame from the CSV file
employee_df = pd.read_csv('employee_data.csv')

# Create a boolean mask for cities containing the letter "o" (case-insensitive)
city_mask = employee_df['City'].str.contains('o', case=False, na=False)

# Use the mask to filter the DataFrame
employees_with_o_in_city = employee_df[city_mask]

# Print the filtered DataFrame
print(employees_with_o_in_city)

# Save the filtered DataFrame to a new CSV file (optional)
employees_with_o_in_city.to_csv('employees_with_o_in_city.csv', index=False)

     ID             Name Gender     City  Age
1  A002  Alice Luxumberg      F   London   27
3  A004       Nina Adgra      F  Newyork   31